@import "variables";
@import "mixins";

.page__header {
}
.page__title {
  color: $black;
  margin-bottom: 0.5em;
}

.article {
  line-height: 1.3;
  text-rendering: optimizeLegibility;

  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    //color: $black;
    //margin-bottom: 0.25em;
  }

  p {
    margin: 0 0 1rem;
  }
}

.article__banner {
  margin: 0 0 1em;

  img {
    @include responsive-img();
  }
}

.article__content > {
  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    font-weight: $font-weight;
    border-bottom: 1px solid $primary;
    margin-bottom: 0.25em;
  }
}

.article-footer {
  margin-block-start: 1em;
}
.archiveList {
  margin-block-start: 2em;
}
.archiveArticle {
  margin-block-end: 2em;
  padding-block-end: 2em;
  border-bottom: 1px solid $gray--dark;
}
.archiveArticle__title {
  font-size: 1.5em;
}
