@import "variables";
@import "mixins";

.button {
  padding: 0.675em 1em;
  text-decoration: none;
  line-height: 1;
  border: 0;
  border-radius: 0;
  display: inline-block;
  @include transition(all);
}

.button--primary {
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary--dark;
  }
}

.button--prominent {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.75em 1em;
}
.button--small {
  font-size: 16px;
}
.button--large {
  font-size: 1.25em;
}
.button--center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-buttons {
  margin-block-end: 1rem;
}
.wp-block-button {
  margin: 0;
}

.wp-block-button {
  &.is-style-small {
    .wp-block-button__link {
      @extend .button--small;
    }
  }
  &.is-style-large {
    .wp-block-button__link {
      @extend .button--large;
    }
  }
  &.is-style-prominent {
    .wp-block-button__link {
      @extend .button--prominent;
    }
  }
}

.wp-block-button__link {
  @extend .button;

  &:not(.has-text-color) {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &:not(.has-background) {
    background-color: $primary;

    &:hover,
    &:focus {
      background-color: $primary--dark;
    }
  }

  @each $name, $color in $buttonColors {
    &.has-#{$name}-color {
      color: $color;
    }

    &.has-#{$name}-background-color {
      background-color: $color;
    }

    &.has-#{$name}-color:hover,
    &.has-#{$name}-color:focus {
      color: $color;
    }

    &.has-#{$name}-background-color:hover,
    &.has-#{$name}-background-color:focus {
      background-color: darken($color, 20%);
    }
  }
}

.iconButton--iconFirst {
  svg {
    margin-inline-end: 0.5em;
  }
}
.iconButton--iconLast {
  svg {
    margin-inline-start: 0.5em;
  }
}
.iconButton--grow {
  svg {
    @include transition(transform);
  }
  &:hover,
  &:focus {
    svg {
      transform: scale(1.15);
    }
  }
}

.icon-round {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $white;
  font-size: 0.75em;

  svg {
    @include transition(transform);
  }
}
