@import "variables";

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if ($index) {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}

@mixin container() {
  max-width: 60rem;
  margin: auto;
  padding: 0 1rem;
}

@mixin transition($property) {
  transition: #{$property} $base-transition;
}

@mixin responsive-img {
  max-width: 100%;
  height: auto;
}

@mixin blank-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin heading-style {
  font-weight: $font-weight--thin;
  text-transform: uppercase;
  border-bottom: 1px solid $primary;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
