@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

strong,
.strong {
  font-weight: $font-weight--bold;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: $font-weight;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

a {
  color: $link;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $link--hover;
  }
}

.icon-with-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > :first-child {
    margin-inline-end: 0.5em;
  }
}

.icon--accentuate {
  color: $tertiary;
}

.stringbean {
  @include heading-style();
}

.label {
  text-decoration: none;
  line-height: 1;
  border: 0;
  border-radius: 0;
  display: inline-block;
  font-size: 16px;
  padding: 0.25em 0.75em;
  @include transition(all);
}
.label--primary {
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary--dark;
  }
}

/** Blocks **/
.has-dark-gray-reading-color {
  color: $reading;
}
