@import "../../../../src/styles/cards";

.wp-block {
  .collectionStamp {
    margin: 0;
    font-size: 0.875em;
  }
  .nhsm-widget-collections {
    .collectionCard__title {
      font-size: 1.25rem;
    }
    .collectionCard__figure {
      margin: auto 0 0 0;
      .figure__caption {
        display: none;
      }
    }

    .collectionStamp__img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  .nhsm-widget-collections--grid {
    > div {
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
