@import "variables";
@import "mixins";

.button {
  padding: 0.675em 1em;
  text-decoration: none;
  line-height: 1;
  border: 0;
  border-radius: 0;
  @include transition(all);
}

.button--primary {
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary--dark;
  }
}

.wp-block-buttons {
  margin-block-end: 1rem;
}
.wp-block-button {
  margin: 0;
}
.wp-block-button__link {
  @extend .button;
  @extend .button--primary;
}

.button--prominent {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.75em 1em;
}

.iconButton--iconFirst {
  svg {
    margin-inline-end: 0.5em;
  }
}
.iconButton--iconLast {
  svg {
    margin-inline-start: 0.5em;
  }
}
.iconButton--grow {
  svg {
    @include transition(transform);
  }
  &:hover,
  &:focus {
    svg {
      transform: scale(1.15);
    }
  }
}

.icon-round {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $white;
  font-size: 0.75em;

  svg {
    @include transition(transform);
  }
}
