@import "variables";
@import "mixins";

.button {
  padding: 0.5em 1em;
  text-decoration: none;
  line-height: 1;
  @include transition(all);
}

.button--primary {
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $primary--dark;
  }
}

.button--iconFirst {
  svg {
    margin-right: 0.5em;
  }
}

.site-header__donate {
  svg {
    @include transition(transform);
  }
  &:hover,
  &:focus {
    svg {
      transform: scale(1.15);
    }
  }
}

.icon-round {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $white;
  font-size: 0.75em;

  svg {
    @include transition(transform);
  }
}
