@import "variables";
@import "mixins";

.flex-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.flex-list__item {
  margin-inline-start: 2em;
}

.site-footer__socialIconsLink {
  font-size: 2em;
}

.two-column-grid__list {
  @include blank-list();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.events-list {
  @include blank-list;
}

.autoFitGrid {
  --minWidth: 200px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(var(--minWidth), 1fr));
}
