/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

.nhsm-icon {
	&.circle {
		background: $primary;
		border-radius: 50%;
		display: inline-block;
		text-align: center;
		color: $white;
		padding: rem-calc(1);
	}
}

i.leftset {
	margin-right: 10px;
}
i.rightset {
	margin-left: 10px;
}
i.larger {
	font-size: 110%;
}

.marginTop20 {
	margin-top: rem-calc(20);
}

.vert-center {
	display: table !important;
	
	span {
		display: table-cell;
		vertical-align: middle;
	}
}

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

a.incognito-links, .incognito-links a {
	color: inherit;
	text-decoration: inherit;
}

a.block {
	display: block;
}

button {
	cursor: pointer;
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	&.lite {
		font-weight: 300;
	}
	
	// Removing text decoration from all headline links
	a {
		text-decoration: none;
		color: $primary;
	}
	
	&.stringbean {
		font-weight: 300;
		text-transform: uppercase;
	}
	
	&.u {
		border-bottom: 1px solid $light-gray;
		padding-bottom: 0rem;
		margin-bottom: .5rem;
	}
}

a {
	&.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
		color: $primary;
	}
}

h1, .h1 {
	&.page-title {
		font-size: 72px;
		line-height: 1.6em;
		color: $white;
		font-weight: 100;
		text-transform: uppercase;
		
		small {
			font-size: 80%;
		}
	}
	
	small {
		color: $white;
	}
}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	position: relative;
	
	ul.off-canvas-list li {
		list-style: none;
	}
	
	.brand {
		width: 259px;
		height: 111px;
		display: block;
		@include breakpoint(medium down) {
			width: 200px;
			height: 86px;
		}
	}
	@media screen and (min-width: 910px) and #{breakpoint(medium down)} {
		.brand {
			margin-top: 15px;
		}
	}

	.site-tagline {
		font-style: italic;
		font-size: 71%;
		color: #367202;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-nav-cont {
	padding-top: 17px;

	.top-bar-right {
		display: none;
		@include breakpoint(910px) {
			display: block;
		}
	}
	#off-canvas-toggle {
		display: block;
		text-transform: uppercase;
		font-size: 115%;
		line-height: 14px;
		@include breakpoint(910px) {
			display: none;
		}
		.toci { //Toggle OffCanvas Icon
			width: 30px;
			height: 23px;
			position: relative;
			display: inline-block;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;

			span {
				display: block;
				position: absolute;
				height: 4px;
				width: 100%;
				background: $white;
				border-radius: 3px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;

				&:nth-child(1) {
					top: 0px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				}
				&:nth-child(2) {
					top: 9px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				}
				&:nth-child(3) {
					top: 18px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				}
			}

			&.open {
				span {
					&:nth-child(1) {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
						top: -3px;
						left: 8px;
					}

					&:nth-child(2) {
						width: 0%;
						opacity: 0;
					}

					&:nth-child(3) {
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
						top: 18px;
						left: 8px;
					}
				}
			}
		}
		& > span {
			display: none;
			line-height: 23px;
			vertical-align: top;
			margin-right: 5px;
			@include breakpoint(395px){
				display: inline;
			}
		}
	}
}
.top-bar {
	.title-area {
		z-index: 1;
	}
	
	#menu-auxiliary-menu {
		.menu-item {
			&:before {
				float: left;
				line-height: 1.7;
				font-size: 130%;
				display: inline-block;
				border-radius: 50%;
				background-color: $primary;
				height: rem-calc(35);
				width: rem-calc(35);
				text-align: center;
				color: $white;
				position: absolute;
				margin-top: rem-calc(3);
			}
			
			a {
				color: $black;
				padding-left: 3rem;
				position: relative;
				z-index: 1;
			}
			
			&.active, &.current, &:hover, &:active, &:focus {
				&:not(.create-button) {
					a {
						background: none;
						color: $primary;
					}
				}
			}
			
			&:not(:last-of-type){
				padding-right: 2rem;
			}
		}
		
		margin-bottom: 1.5rem;
		margin-right: -1rem;
	}
	
	#menu-main-nav {
		& > .menu-item {
			& > a {
				height: $topbar-height - 1;
				font-size: 115%;
				text-transform: uppercase;
				padding-right: 1rem;

				&:after {
					border: 0;
				}
			}
			&:not(.create-button) {
				a {
					color: $black;
				}

			}
			&.create-button {
				a {
					font-size: 100%;
					margin-bottom: 0;
				}

				padding-left: 1rem;
			}

			&.active, &.current, &:hover, &:active, &:focus {
				&:not(.create-button) {
					& > a {
						border-bottom: 5px solid $primary;
						transition: border .1s ease;
						text-decoration: none;
						background: $offwhite;
					}
				}
			}

			.menu-item {
				font-size: 90%;

				&.active, &.current, &:hover, &:active, &:focus {
					& > a {
						border-bottom: none;
						transition: all .1s ease-in-out;
						text-decoration: none;
						background: scale-color($primary, $lightness: 75%);
					}
				}

			}
		}
	}
	
  -webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
	   -moz-box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
  				box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
}

@include breakpoint(small only){
	.top-bar {
		#menu-auxiliary-menu {
			.menu-item {
				padding-right: 0;
				padding-left: 3rem;
			}

			margin-right: 0;
		}

		#menu-main-nav {
			.menu-item {
				&:not(.create-button) {
					a {
						display: inline-block;
						margin-bottom: rem-calc(10);
					}

				}

				text-align: center;
			}
		}
	}
}

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#main {
	//border: $callout-border;
	background-color: #fff;
	padding-top: rem-calc(map-get($grid-column-gutter, 'small') / 2);
	padding-bottom: rem-calc(map-get($grid-column-gutter, 'small') / 2);
	margin-bottom: 2rem;
	
	@include breakpoint(medium up) {
		padding-top: rem-calc(map-get($grid-column-gutter, 'medium') / 2);
		padding-bottom: rem-calc(map-get($grid-column-gutter, 'medium') / 2);
	}
	
}
#content {
	padding-top: 2rem;
	//background-color: #f4f4f4;
	
	#inner-content {
		.hbanner {
			background: $primary;
			
			margin-bottom: 2rem;
			background-position: 50% 50%;
			background-size: cover;
			
			
			
		}
		
		header {

			.post_tags {
				display: inline-block;
				margin-bottom: 2rem;
				color: #A1A293;
				float: none;
				clear: none;
				font-size: 18px;
				line-height: 18px;

				i {
					color: map-get($foundation-palette, warning);
					padding: 0 0.4em 0 0;
					font-size: 160%;
				}
			}

		}

	}
}

//remove when in production!!
.addthis_inline_share_toolbox {
	width: 130px;
	height: 30px;
	background: rgb(59, 89, 152);
	
	&:after {
		content: "social sharing";
		line-height: 30px;
		text-align: center;
		width: 130px;
		color: #fff;
		display: block;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

article.archive {
	border-bottom: 1px double $medium-gray;
	padding-bottom: 2rem;
	margin-bottom: 3rem;
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 5px;
		width: 100%;
		height: 3px;
		background: $medium-gray;
	}
}

.archive-title {

}

	.single_page_banner {
		margin-bottom: 20px;
	}

// Post meta  
.byline {
	//color: $black;
	font-size: 16px;
	time {}
	
	.author {
		//font-weight: bold;
		
		a {
			color: inherit;
		}
	}
	
	.middot {
		margin: 0 10px;
	}
}

a .label {
	cursor: pointer;
	&:hover {
			filter: brightness(110%);
		}
}
.label {
	&.dynamic {
		
	}
}

// Entry content  
.entry-content {
	
	font-size: 20px;
	
	img {
		max-width: 100%;
		height: auto;
	}
	
	//h2, .h2,
	h3, .h3 {
		border-bottom: 1px solid $primary;
		line-height: 1.2;
	}
	
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
	
	.align-center {
		text-align: center;
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

}

.post-meta {
	&.subtle {
		li {
			font-size: 14px;
			line-height: 14px;
		}
	}
	
	li {
		display: inline-block;
    padding: 0 2em 0 0;
    color: #A1A293;
    float: none;
    clear: none;
    font-size: 18px;
    line-height: 18px;
		
		i {
			color: map-get($foundation-palette, warning);
			padding: 0 0.4em 0 0;
			font-size: 160%;
		}
	}
}

.add_caption_to_bg{
	position: relative;
}
.lg_img_caption {
	display: inline;
	font-size: 16px;
}
.sm_img_caption{
	font-size: 14px;
}

.img-caption-container {
	position: relative;
	margin-bottom: 20px;

	img {
		margin-bottom: 0px;
	}
}

.img-caption-container span, .lg_img_caption {
	position: absolute;
	bottom: 5px;
	right: 5px;
	text-align: right;
	background: rgba(255, 255, 255, 0.9);
	padding: 0px 6px;

	a {
		color: $reading;

		&:hover, &:focus {
			color: $black;
			text-decoration: underline;
		}
	}
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

.panel-grid-cell .sow-image-container + h3.widget-title {
	margin-top: 10px;
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

//Collections
.collection_cont {
	position: relative;
	display: inline-block;
	width: 100%;
	
	&:after {
		padding-top: 38.2%;
    display: block;
    content: "";
	}
}
.collection {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	text-align: center;
	color: $white;
	display: block;
	background-color: $black;
	border: 3px solid $white;
	
	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		
		.collection-info {
			visibility: visible;
		}
		
		img {
			opacity: .3;
			filter: alpha(opacity=30);
		}
	}
	
	.collection-info {
		visibility: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		line-height: 1.2;
		margin-bottom: 0;
		
		span.collector {
			text-transform: none;
			font-size: rem-calc(18);
			display: block;
		}
		span.collection-title {
			display: block;
			font-weight: 500;
		}
	}
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	margin-top: 2rem;
	padding-top: 1rem;
	border-top: 1px solid $medium-gray;
	
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
#sidebar1 {
	padding-right: 25px;
	
	.sticky {
		width: 100%;
	}
}

.sidebar, .off-canvas {
	/* UL */
	.vertical.menu {
		&:not(.nested){
			background: #e8e8e8;
			border: 1px solid #d9d9d9;
			padding: 10px 0;
		}
		
		li.active > a, a:hover, a:focus {
			margin-left: 0;
			text-decoration: none;
			font-weight: bold;
			border-left: 6px solid $primary;
		}
		
		a {
			color: $black;
			font-size: rem-calc(16);
			line-height: 1.2;
			margin-left: 6px;
			background: none;
			padding: 0.4rem 1rem;
			
		}
	}
}

#search-modal {
	.container {
		position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-75%);
	}
}

#searchsubmit {
}

.widgettitle {
}

.widget:not(.so-panel) {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}

#sidebar_download-meta {
	.p-flex-table div {
		font-size: 95%;
	}
}

.p-flex-table {
	.ft-tr { //flex-table row
		display: flex;
		
		&:not(:last-of-type){
			margin-bottom: rem-calc(10px);
		}
		

		.ft-td-a {
			-webkit-flex: 0 0 100px;
			flex: 0 0 100px;
		}

		.ft-td-b {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-flex: 1 1 auto;
			flex: 1 1 auto;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.valign-middle {
	display: table;

	> .columns {
		display: table-cell;
		vertical-align: middle;
	}

	> .columns, > [class*="column"] + [class*="column"]:last-child {
		float: none;
	}
}

/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	padding-top: 2em;
	font-size: rem-calc(18);
	color: $white;
	font-weight: 100;
	background-color: $black;
	
	a {
		color: $white;
		
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	
	.media-object-section {
		vertical-align: bottom;
		white-space: nowrap;
		
		&:last-child {
			width: 99%;
			
			@include breakpoint(small only) {
				display: block;
				overflow: hidden;
				margin: rem-calc(20) 0;
			}
		}
	}
	
	img {
		max-width: 115px;
	}
	
	#inner-footer {
		border-bottom: 1px solid $white;
		margin-bottom: 10px;
	}
	
	.home-social {
		@include breakpoint(medium) {
			float: right;
		}
		display: block;
		
		li {
			list-style: none;
			display: block;
			float: left;
			margin-left: 15px;
			
			a {
				opacity: .75;
				
				&:hover {
					opacity: 1;
				}
			}
			
			img {
				max-height: 35px;
				width: auto;
			}
			i {
				font-size: 47px;
				line-height: 0;
				
				&:before {
					color: $primary;
					line-height: 35px;
				}
			}
		}
	}
	
	#member-login {
		float: right;
    display: block;
    padding: $menu-item-padding;
    line-height: 1;
	}
	
	.source-org {
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
	
	.menu {
		.active > a {
			background: none;
		}
				
	}
}
	
/*********************
HOMEPAGE STYLES
*********************/
.home {
	
	#content {
		padding-top: 0;
		background-color: #fff;
	}
	
	h2, .h2 {
		font-weight: 100;
		text-transform: uppercase;
		font-size: rem-calc(60);
	}
	
	h2, .h2, h3, .h3 {
		border-bottom: none;
		line-height: inherit;
	}
	
	.page-title {
		text-indent: -9999px;
		position: absolute;
	}
	.origin-widget.origin-widget-call-to-action-homepage-herolight {
		padding: 6em 2em 24em;

		.origin-widget-button {
			margin-top: rem-calc(20);
		}
	}
	
	#home-mission {
		.panel-row-style {
			&:before, &:after {
				background-color: #e0e31a;
			}
		}
	}
	
	.home-hero-mission p {
		font-size: 30px;
		font-style: italic;
		text-align: center;
		font-weight: 300;
	}

	#get-answers {
		h2, h3 {
			color: $primary;
			text-transform: uppercase;
			margin-bottom: 0;
			font-weight: 300;
			font-size: rem-calc(44);
		}
		p {
			color: $reading;
			font-weight: 300;
			font-size: rem-calc(32);
		}

		img {
			border-radius: 50%;

		}
	}
	
	/*
	//CSS for old #get_answers (with search form)
	#get-answers {
		h2, h3 {
			color: $primary;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		h3 {
			font-weight: 300;
		}
		p {
			color: $reading;
			font-weight: 300;
			font-size: rem-calc(24);
		}
		
		.get-answers-form {
			.textwidget {
				text-align: center;
			}
			
			p {
				font-size: rem-calc(30);
				font-weight: 400;
				display: inline-block;
			}
			
			form {
				margin-bottom: -15px;
				display: inline-block;
				
				input[type="text"]{
					width: 269px;
					float: left;
					margin: 0 10px;
					padding: 24px 5px;
					border: 3px solid $primary;
					font-size: rem-calc(30);
					color: $reading;
					    
					&::-webkit-input-placeholder { // Chrome/Opera/Safari
						font-size: rem-calc(30);
					}
					&::-moz-placeholder { // Firefox 19+
						font-size: rem-calc(30);
					}
					&:-ms-input-placeholder { // IE 10+
						font-size: rem-calc(30);
					}
					&:-moz-placeholder { // Firefox 18-
						font-size: rem-calc(30);
					}
				}
				
				button[type="submit"]{
					margin-top: 5px;
					float: left;
					cursor: pointer;
					color: $primary;
					
					i {
						font-size: rem-calc(45);
					}
				}
			}
		}
	}
	*/
	
	#collections {
		color: $white;
		font-weight: 300;
		font-size: rem-calc(24);
		
		.panel-first-child {
			margin-bottom: 0 !important;
		}
		
		.widget_siteorigin-panels-builder {
			text-transform: uppercase;
			position: relative;
			
			.panel-grid-cell:first-child .so-panel {
				position: relative;
				&:after {
					padding-top: 65.48%;
					display: block;
					content: "";
				}
			}
			
			.panel-grid-cell + .panel-grid-cell {
				padding-top: rem-calc(24);
				@include breakpoint(medium only) {
					padding-top: 1.5vw;
				}
				
				.panel-last-child {
					@include breakpoint(medium up) {
						
					}
				}
				
				@media screen and (min-width: 781px) and (max-width: 1036px) {
					.panel-first-child {
						display: none;
					}
					
				}
			}
		}
		
		.widget_origin_button {
			display: inline-block;
			
			a.button {
				font-size: rem-calc(24);
				font-weight: 500;
				padding: rem-calc(15);
			}
		}
		.widget_text {
			display: inline-block;
			margin-right: 20px;
		}
		
		.row + .row {
			margin-top: rem-calc(30);
			@include breakpoint(medium only) {
				margin-top: 2vw;
			}
		}
	}
	
	#whats-happening-now {
		.widget_siteorigin-panels-postloop {
			text-align: right;
		}
		
		h3 {
			@include breakpoint(medium up) {
				width: 448px;
			}
			display: inline-block;
			margin-bottom: 2rem;
			font-size: rem-calc(30);
		}
		
		.orbit-container {
			overflow: inherit;
		}
		
		.orbit-slide {

			.slider-img-container {
				text-align: center;
				
				@include breakpoint(medium up) {
					position: absolute;
					bottom: -257px;
				}
				
				img {
					margin-bottom: 5px;
					max-width: 90%;
				}
				
				small {
					color: $reading;
					
					a {
						color: $reading;
						
						&:hover, &:focus {
							text-decoration: underline;
						}
					}
				}
			}
			.slider-body {
				@include breakpoint(small down) {
					text-align: center;
					margin-top: 20px;
				}
				
				h4 {
					font-size: rem-calc(25);
					
					a {
						color: $black;
						
						&:hover, &:focus {
							color: smart-scale($black,20%, 40%);
						}
					}
				}
				
				p {
					font-size: rem-calc(23);
					font-weight: 300;
					color: $black;
				}
			}
		}
	}
	
	#show-support {
		background-position: 50% -312px;
		
		p, .textwidget {
			font-weight: 100;
			font-size: rem-calc(36);
			color: $white;
			line-height: 1.2;
		}
		
		.support-tag .textwidget {
			font-size: rem-calc(24);
			text-transform: uppercase;
			
			@include breakpoint(small only) {
				display: block;
				text-align: center;
			}
			
			a {
				font-weight: 700;
				font-size: rem-calc(24);
				&.button {
					@include breakpoint(small only) {
						display: block;
					}
				}
			}
		}
	}
	
	#explore-nature {
		
		display: none;
		
		.panel-grid-cell + .panel-grid-cell {
			float: right;
		}
		
		.sow-headline-container {
			float: right;
		}
		
		h2 {
		  margin-right: 70px;
		}
		h3 {
			text-transform: uppercase;
			font-weight: 300;
		}
		
		@media screen and #{breakpoint(large)} {
			min-height: 600px;
			display: block;
		}
		
	}
}



/*********************
FOUNDATION STYLES
*********************/
.create-button { //creates a button on the child <a> tags
	a {
		@include button;
	}
}

.nhsm_scrolling_words {
	li {
		&:first-of-type {
			display: inline-block;
		}
		
		&.slideUpAndOut {
			@include mui-slide(
				$state: out,
				$direction: up,
				$fade: true,
				$delay: 0s
			);
			
			position: absolute;
			
		}
		
		&.slideUpAndIn {
			@include mui-slide(
				$state: in,
				$direction: up,
				$fade: true,
				$delay: 0s
			);
		}
		
		display: none;
		text-align: center;
		list-style: none !important;
	}
	
	text-align: center;	
	display: inline-block;
	padding: 0px rem-calc(10);
  border: rem-calc(3) solid $white;
	margin-left: rem-calc(4);
}

.img-circle {
	border-radius: 50%;
}

.is-dropdown-submenu {
	z-index: 2; //increased to sit ontop of event maker's full-calendar
}

.button.dropdown, button.dropdown {
	padding-right: 1.6em;
	&:after {
		display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: $white transparent transparent;
    right: .6em;
		position: absolute;
    top: 50%;
    margin-top: -2px;
	}
}

.tabs.menu {
	background: $white;

	li {
		&.menu-text {
			float: left;
		}

		&.is-active a {
			color: $reading;
			background: $light-gray;
		}

	}
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

/* Full Calendar */
#event-cat-filter {
	li {
		text-align: left;
		
		.label {
			cursor: pointer;
			display: block;
			font-size: 1rem;
			margin-bottom: 1em;
			
			input {
				margin: 0;
			}
			
			i:before {
				font-family: "foundation-icons";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				text-decoration: inherit;
			}
			
			input[type=checkbox]:checked + i {
				&:before{ content: "\f126"; }
			}
			
			&:hover {
				opacity: .85;
				
				input[type=checkbox]:checked + i {
					&:before{ content: "\f217"; }
				}
			}
			
			/*
			&:hover{
				opacity: .85;
				i.fi-check {
					//&:before{ content: "\f217"; }
					@extend .fi-x;
				}
			}
			*/
		}
	}
}
.fc {
	h2 {
		border-bottom: none;
	}
	table thead, table tbody, table tfoot {
		background: inherit;
		border: inherit;
	}
	
	table {
		margin-bottom: inherit;
	}

	.fc-other-month .fc-day-number {
		color: lighten($reading, 25%);
	}
	
	.fc-day-number {
		color: $reading;
	}
	
	.fc-day-grid-event {
		margin: 1px 1px 0;
		padding: 7px 5px;
		border: 0;
	}

	.fc-toolbar {
		h2 {
			margin: 0 .5em;
		}
		button {
			@extend .button;
			@extend .secondary;

			padding: 0 .6em;
			font-size: 1rem;
			margin-top: rem-calc(12px);

			&.fc-state-default {
				background-image: none;
				background-repeat: no-repeat;
				border: none;
				text-shadow: none;
				box-shadow: none;
			}

			&.fc-calview-button {
				border-right: 1px solid $medium-gray !important;
			}
		}
	}

	.fc-time {
		@include breakpoint(medium down) {
			display: none;
		}
	}
	
	.fc-cats {
		position: absolute;
		right: 0px;
		bottom: -1px;
		left: 0px;
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		
		span {
			display: block;
			flex: 1;
			width: 50%;
			height: 5px;
			float: left;
			background-color: $primary;
			
			&:first-of-type {
				border-bottom-left-radius: 3px;
			}
			&:last-of-type {
				border-bottom-right-radius: 3px;
			}
		}
	}
}

/* Team */
.team-card {
	
	.team-biophotocont {
		position: relative;
	}
	.team-excerpt {
		position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
		padding: $card-padding;
		
		div {
			display: table;
			height: 100%;
			width: 100%;
			
		
			p {
				display: none;
				text-align: center;
				margin-bottom: 0;
				vertical-align: middle;
			}
		}
	}
	
	&:hover {
		.team-excerpt p {
			display: table-cell;
		}
		
		img {
			opacity: 0.25;
		}
	}
}

/* Events */
.event-important-info {
	li {
		font-size: 1.3em;
	}
	text-align: center;
}
.event-tooltip-data {
	font-size: .9em;
	
	th {
		text-transform: uppercase;
		color: $dark-gray;
		font-size: .7em;
		vertical-align: top;
		line-height: 1.5;
		padding-top: 0.8rem;
	}

	td {
		vertical-align: top;
	}
}
